body{
    background-image: url("goat_bg.png");
    background-size: cover;
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
}
div.text {
	background-color: grey;
}
h1{
	color: #CC9900;
	font-style: normal;
	font-size: 40px;
	font-family: Cambria;
	text-align: left;
	padding-top: 40px;
	margin-right: -200px;
}

#search{
	text-align: justify;
	padding-top: 30px;
	padding-left: 44px;
	height: 180px;
	width: 400px;
	background-color: #fff;
	position: fixed;
	top: 200px;
	right: 180px;
	border-radius: 5px;
	border-left-style: inset;
	border-left-width: 5px;
}
